:root {
    --search-border-col: rgb(175, 175, 175);
    --title-col: rgb(18, 18, 18);
    --element-dark-col: #262626;
    --nav-col: rgb(70, 70, 70);
    --nav-hover-col: rgb(255, 122, 0);
    --general-col: white;
    --general-bit-darker-col: rgb(255, 255, 255);
    --description-col: rgb(188, 188, 188);
    --product-text-col: rgb(148, 148, 148);
    --new-arivals: #04c561;
}

* {
    margin: 0px 0px 0px 0px;
}

.display-none {
    display: none !important;
}

header {
    display: flex;
    width: 1900px;
}

.title-container {
    display: flex;
    margin-top: 30px;
    margin-right: 100px;
    margin-left: 90px;
    height: 33px;
}

.logo {
    background-image: url(/logos/Main_Logo.svg);
    height: 33px;
    width: 49px;
    margin-right: 20px;
}

.title-container > h1 > a {
    color: var(--title-col);
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 32px;
    height: 30px;
    display: block;
}

.search {
    display: flex;
    margin-top: 28px;
    margin-right: 120px;
    height: 40px;
    width: 345px;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--search-border-col);
    border-width: 1px;
}

.search-bar {
    align-self: center;
    border-width: 0px;
    margin-left: 10px;
    height: 24px;
    outline: none;
}

.select-category {
    border-width: 0px;
    border-color: var(--search-border-col);
    align-self: center;
    height: 24px;
    cursor: pointer;
    margin-left: 10px;
    outline: none;
}

.search-logo {
    background-image: url(/logos/Search.svg);
    height: 20px;
    width: 20px;
    margin: 10px 10px 10px 15px;
    cursor: pointer;
}

nav:nth-of-type(1) {
    width: 1920px;
    display: flex;
    height: 50px;   
    position: relative;
}

.nav1 {
    display: flex;
    gap: 140px;
    height: 25px;
    width: 600px;
    margin-top: 38px;
}

ul {
    font-size: 14px;
    font-family: sans-serif;
    align-self: center;
    display: flex;
    gap: 70px;
    list-style: none;
    color: var(--nav-col);

    & li {
        cursor: pointer;
    }
}


.social-container {
    align-self: center;
    display: flex;
    margin-top: 45px;
    margin-left: 200px;
    margin-right: 90px;
    gap: 10px;
    height: 24px;
    width: 84px;

    & span {
        cursor: pointer;
    }
}

.social1 {
    height: 24px;
    width: 24px;
    background-image: url(/logos/Instagram.svg);
}

.social2 {
    align-self: center;
    height: 18px;
    width: 12px;
    background-image: url(/logos/FB.svg);
}

.social3 {
    height: 24px;
    width: 24px;
    background-image: url(/logos/Telegram.svg);
}

.section1 > div {
    display: flex;
    background-color: var(--element-dark-col);
    margin-top: 40px;
    height: 78px;
    width: 1910px;
}

.section1 > div > div:nth-of-type(1) {
    height: 78px;
    margin-left: 100px;
    align-items: center;
    display: flex;
}

.categories-logo {
    margin-right: 10px;
    height: 24px;
    width: 24px;
    background-image: url(/logos/categories.svg);
}

.section1 > div > div > h2 {
    font-family: sans-serif;
    color: var(--general-col);
    font-size: 22px;
    font-weight: 400;
}

.devider1 {
    align-self: center;
    height: 60px;
    margin-left: 130px;
    margin-right: 30px;
    border: none;
    border-right: 1px solid rgb(101, 101, 101);
}

.moneytypes {
    width: 70px;
    color: var(--general-col);
    background-color: var(--element-dark-col);
    margin-left: 60px;
    align-self: center;
    border: none;
    cursor: pointer;
    outline: none;
}

.language {
    width: 70px;
    color: var(--general-col);
    background-color: var(--element-dark-col);
    margin-left: 60px;
    align-self: center;
    border: none;
    cursor: pointer;
    outline: none;
}

.Men-cosmetic-image {
    margin-left: 100px;
    margin-top: 5px;
    height: 60px;
}

.Men-cosmetic-text-container {
    margin-left: 20px;
    align-self: center;
    gap: 4px;
    display: flex;
    flex-direction: column;
}

.Men-cosmetic-text1 {
    font-family: sans-serif;
    font-weight: 100;
    color: var(--general-col);
    font-size: 16px;
    margin-left: 0px;
}

.Men-cosmetic-text2 {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: var(--description-col);
    width: 290px;
}

.container1 {
    display: flex;
    align-self: center;
    margin-left: 100px;
    gap: 40px;
}


.container1 > div {
    display: flex;
    gap: 10px;
}

.container1 > div > .logo1, .container1 > div > .logo2, .container1 > div > .logo3 {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.container1 > div > h3 > a {
    color: var(--general-col);
    text-decoration: none;
}


.container1 > div > h3 {
    align-self: center;
    color: var(--general-col);
    font-weight: 200;
    font-family: sans-serif;
}

.sign-in > h3 {
    width: 60px;
}

.Card > h3 {
    width: 35px;
}


.Card-amount-indicator {
    height: 26px;
    width: 26px;
    border-radius: 20px;
    background-color: #3DC47E;
    margin-left: 5px;
    cursor: pointer;
}

.Card-amount-indicator > h2 {
    font-family: sans-serif;
    font-weight: 100;
    justify-self: center;
    margin-top: 1px;
    font-size: 22px;
    color: var(--general-col);
}

.section2 > article > nav {
    display: flex;
    margin-top: 40px;
    gap: 90px;
    margin-left: 150px;
}

.section2 > article > nav > h3 {
    font-size: 15px;
    font-weight: 500;
    font-family: sans-serif;
    color: var(--nav-col);
    transition-duration: 0.3s;
    cursor: pointer;
}

.section2 > article > nav > h3:hover {
    color: var(--nav-hover-col);
}

.section2 > article {
    display: flex;
}

.section2 > article:nth-of-type(2) > img {
    height: 500px;
}

.section2 > article:nth-of-type(2) > div:nth-of-type(1) {
    position: absolute;
    margin-left: 450px;
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.section2 > article:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > h3:nth-of-type(1) {
    margin-top: 20px;
    font-size: 27px;
    font-family: sans-serif;
}

.section2 > article:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > h3:nth-of-type(2) {
    font-size: 25px;
    color: red;
    font-family: sans-serif;
    margin-top: 30px;
    margin-left: 80px;
}

.section2 > article:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) {
    margin-top: 40px;
    background-color: rgb(38, 38, 38);
    width: 300px;
    height: 100px;
}


.section2 > article:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) > h4 {
    font-size: 25px;
    font-weight: 500;
    margin-top: 40px;
    color: var(--general-col);
    justify-self: center;
    
}


.section2 > article:nth-of-type(2) > div:nth-of-type(2) {
    height: 500px;
    width: 1320px;
    margin-left: 590px;
    position: absolute;
    background-color: rgb(85, 162, 255);
    justify-items: center;
}

.section2 > article:nth-of-type(2) > div:nth-of-type(2)  > h2 {
    color: var(--general-col);
    font-family: sans-serif;
    font-weight: 500;
    font-size: 50px;
    margin-top: 100px;
    margin-left: 250px;
}

.section2 > article:nth-of-type(2) > div:nth-of-type(2)  > h3 { 
    color: var(--general-col);
    font-family: sans-serif;
    font-weight: 500;
    font-size: 36px;
    margin-top: 40px;
    margin-left: 250px;
}

.section2 > article:nth-of-type(2) > div:nth-of-type(2) > button {
    display: flex;
    justify-content: center;
    background-color: rgb(54, 101, 201);
    margin-top: 80px;
    margin-left: 0px;
    width: 350px;
    height: 60px;
    border-radius: 5px;
    border-width: 0px;
    transition-duration: 0.3s;
    margin-left: 250px;
}

.section2 > article:nth-of-type(2) > div:nth-of-type(2) > button:hover {
    background-color: rgb(27, 73, 172);
}

.section2 > article:nth-of-type(2) > div:nth-of-type(2) > button > img {
    height: 40px;
    align-self: center;
}

.section2 > article:nth-of-type(2) > div:nth-of-type(2) > button > h3 {
    font-size: 20px;
    margin-left: 20px;
    font-family: sans-serif;
    align-self: center;
    font-weight: 100;
    color: var(--general-col);
}

.section3 > div:nth-of-type(1) {
    display: flex;
    margin-left: 100px;
    margin-top: 100px;
    gap: 1300px;
}

.section3 > div:nth-of-type(1) > h2 {
    font-family: sans-serif;
    font-size: 30px;
    color: var(--title-col);
}

.section3 > div:nth-of-type(1) > a {
    font-family: sans-serif;
    text-decoration: none;
    color: var(--nav-col);
    align-self: center;
    margin-left: 200px;
}

.product-wrapper {
    max-width: 1600px;
    margin-top: 50px;
    margin-left: 200px;
    display: flex;
}
.product {
    width: 300px;
    height: 400px;
    box-shadow: 0 0 10px 5px rgb(196, 196, 196);
    border-radius: 4px;
    margin-right: 120px;
    cursor: pointer;
}

.product > div:nth-of-type(1) {
    height: 50px;
    margin-left: 5px;
    justify-items: center;
    align-content: center;
}

.product > div:nth-of-type(1) > h3 {
    color: var(--product-text-col);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.time-left {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 14px;

    & h3 {
        font-size: 20px;
        font-family: sans-serif;
    }

    & h3:nth-of-type(1), h3:nth-of-type(3), h3:nth-of-type(5) {
        color: black;
    }

    & h3:nth-of-type(2), h3:nth-of-type(4) {
        color: gray;
    }
}

.time-left-description {
    display: flex;
    color: var(--product-text-col);
    margin-left: 83px;
    font-family: sans-serif;
    font-size: 12px;

    & p:nth-of-type(2) {
        margin-left: 32px;
        margin-right: 40px;
    }
}

.product > img {
    margin-top: 10px;
    width: 300px;
}

.product > h3 {
    justify-self: auto;
    margin-top: 30px;
    margin-left: 50px;
    font-family: sans-serif;
}

.product:nth-of-type(1) > p:nth-of-type(1) {
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 60px;
    font-size: 12px;
    font-family: sans-serif;
}

.product:nth-of-type(2) > p:nth-of-type(1) {
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 55px;
    font-size: 12px;
    font-family: sans-serif;
}

.product:nth-of-type(3) > p:nth-of-type(1) {
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 70px;
    font-size: 12px;
    font-family: sans-serif;
}

.product:nth-of-type(4) > p:nth-of-type(1) {
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 110px;
    font-size: 12px;
    font-family: sans-serif;
}

.rating {
    display: flex;
    margin-bottom: 10px;
    margin-left: 50px;
    width: 100px;

    & .star-wrapper {
        display: flex;
    }

    .rating-amount {
        margin-left: 12px;
        font-size: 12px;
        color: rgb(33, 33, 33);
        font-family: sans-serif;
    }
}

.prices {
    display: flex;
    margin-left: 50px;

    & h4 {
        margin-right: 10px;
        font-family: sans-serif;
    }

    & h4:nth-of-type(1) {
        color: red;
    }

    & h4:nth-of-type(2) {
        color: var(--description-col);
    }

    & .discount {
        background-color: red;
        height: 20px;
        width: 40px;
        border-radius: 2px;
        margin-top: -2px;
        

        & h4 {
            color: var(--general-col);
            font-family: sans-serif;
            font-size: 12px;
            margin-top: 3px;
            width: 40px;
            text-align: center;
        }
    }
}

.section4 > div:nth-of-type(1) {
    display: flex;
    margin-left: 100px;
    margin-top: 100px;
    gap: 1164px;
}

.section4 > div:nth-of-type(1) > h2 {
    font-family: sans-serif;
    font-size: 30px;
    color: var(--title-col);
}

.section4 > div:nth-of-type(1) > a {
    font-family: sans-serif;
    text-decoration: none;
    color: var(--nav-col);
    align-self: center;
    margin-left: 200px;
}

.section4 > div:nth-of-type(2) {
    display: flex;
    margin-left: 200px;
}

.must-haves {
    margin-top: 50px;
    margin-right: 168px;
    height: 445px;
    width: 408px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

.must-haves > img {
    width: 408px;
    border-radius: 10px 10px 0px 0px;
}

.must-haves:nth-of-type(1) > div:nth-of-type(1) {
    position: absolute;
    height: 25px;
    width: 80px;
    top: 1550px;
    left: 210px;
    border-radius: 5px;
    background-color: var(--new-arivals);
    display: flex;
    align-items: center;

    & img {
        width: 20px;
        margin-left: 2px;
    }

    & p {
        color: var(--general-col);
        font-size: 10px;  
        font-family: sans-serif;
        margin-left: 2px;
    }
}

.must-haves:nth-of-type(2) > div:nth-of-type(1) {
    position: absolute;
    height: 25px;
    width: 80px;
    top: 1550px;
    left: 785px;
    border-radius: 5px;
    background-color: var(--new-arivals);
    display: flex;
    align-items: center;

    & img {
        width: 20px;
        margin-left: 2px;
    }

    & p {
        color: var(--general-col);
        font-size: 10px;  
        font-family: sans-serif;
        margin-left: 2px;
    }
}

.must-haves:nth-of-type(3) > div:nth-of-type(1) {
    position: absolute;
    height: 25px;
    width: 80px;
    top: 1550px;
    left: 1360px;
    border-radius: 5px;
    background-color: var(--new-arivals);
    display: flex;
    align-items: center;

    & img {
        width: 20px;
        margin-left: 2px;
    }

    & p {
        color: var(--general-col);
        font-size: 10px;  
        font-family: sans-serif;
        margin-left: 2px;
    }
}


.must-haves > div:nth-of-type(2) {
    background-color: var(--element-dark-col);
    display: flex;
    height: 100px;
    margin-top: -4px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 12px gray;
}

.must-haves > div:nth-of-type(2) > div > h3, .must-haves > div > div > p {
    color: var(--general-col);
    font-family: sans-serif;
    font-weight: 100;
}

.must-haves > div:nth-of-type(2) > div > h3 {
    margin-top: 25px;
    margin-left: 20px;
    font-size: 16px;
    color: var(--general-col);
}

.must-haves > div:nth-of-type(2) > div > p {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 12px;
    color: var(--description-col);
}
 
.must-haves > div:nth-of-type(2) > div > button {
    background-color: var(--element-dark-col);
    border-style: solid;
    border-radius: 8px;
    border-color: var(--description-col);
    margin-top: 30px;
    margin-left: 40px;
    width: 140px;
    height: 45px;
    cursor: pointer;
}

.must-haves:nth-of-type(3) > div:nth-of-type(2) > div > button {
    background-color: var(--element-dark-col);
    border-style: solid;
    border-radius: 8px;
    border-color: var(--description-col);
    margin-top: 30px;
    margin-left: 100px;
    width: 140px;
    height: 45px;
    cursor: pointer;
}

.must-haves > div:nth-of-type(2) > div > button:hover {
    border-color: var(--general-col);
}

.must-haves > div:nth-of-type(2) > div > button > a {
    text-decoration: none;
    color: var(--general-col);
}

.section5 > div:nth-of-type(1) > h2 {
    font-family: sans-serif;
    font-size: 30px;
    color: var(--title-col);
}

.section5 > div:nth-of-type(1) > a {
    font-family: sans-serif;
    text-decoration: none;
    color: var(--nav-col);
    align-self: center;
    margin-left: 200px;
}

.section5 > div:nth-of-type(1) {
    display: flex;
    margin-left: 100px;
    margin-top: 100px;
    gap: 1355px;
}

.top100card-Wrapper {
    margin-top: 50px;
    margin-left: 180px;
    display: flex;
    gap: 80px;
}

.top100card {
    box-shadow: 0px 0px 10px gray;  
    padding-top: 20px;  
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.top100card > img {
    cursor: pointer;
}

.top100card > div > div:nth-of-type(1) > div{
    margin-top: 20px;
    font-family: sans-serif;
    display: flex;
}


.top100card > div > div:nth-of-type(1) > p{
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 14px;
}

.star-wrapper2 {
    display: flex;
}

.star-wrapper2 > p {
    margin-top: 2px;
    margin-left: 20px;
}

.top100-prices {
    margin-top: 20px;
    display: flex;
    gap: 10px;

    & h4 {
        font-size: 22px;
    }

    & h4:nth-of-type(1), h4:nth-of-type(3) {
        color: red;
    }

    & h4:nth-of-type(1), h4:nth-of-type(2) {
        font-family: sans-serif;
    }

    h4:nth-of-type(2) {
        color: var(--product-text-col);
    }

    & h4:nth-of-type(3) {
        margin-left: 10px;
        margin-top: 1px;
        font-size: 20px;
        font-family: serif;
        text-align: center;
    }
}

.top100-bottompart {
    margin-top: 20px;
}

.favourite-logo {
    height: 25px;
    margin-left: 210px;
    cursor: pointer;
}

.top100card:nth-of-type(1) > div > div:nth-of-type(1) > div > img {
    margin-left: 210px;
} 

.top100card:nth-of-type(2) > div > div:nth-of-type(1) > div > img {
    margin-left: 231px;
} 

.top100card:nth-of-type(3) > div > div:nth-of-type(1) > div > img {
    margin-left: 212px;
} 

.top100card:nth-of-type(4) > div > div:nth-of-type(1) > div > img {
    margin-left: 157px;
} 

.section6 {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    gap: 50px;
}

.section6 > div {
    width: 620px;
    height: 390px;
    display: flex;
}

.section6 > div > div {
    border-radius: 5px 0px 0px 5px;
}

.section6 > div > img {
    box-shadow: 5px -3px 55px rgb(163, 163, 163),
                5px 3px 15px rgb(163, 163, 163);
    border-radius: 0px 5px 5px 0px;
}

.section6 > div > div, .section6 > div > div > h3 > a {
    color: var(--general-col);
    font-family: sans-serif; 
}

.section6 > div > div > h2:nth-of-type(2), .section6 > div > div > h3 > a {
    font-weight: 100;
}

.section6 > div > div > h2:nth-of-type(1) {
    font-size: 38px;
    margin-left: 15px;
    margin-top: 60px;
}

.section6 > div > div > h2:nth-of-type(2) {
    font-size: 30px;
    margin-left: 15px;
    margin-top: 40px;
    color: var(--general-bit-darker-col);
}

.section6 > div > div > h3 {
    font-size: 20px;
    margin-left: 15px;
    margin-top: 40px;
    color: var(--general-bit-darker-col);
}

.section6 > div:nth-of-type(1) > div {
    background-color: #BF2E3B;
    width: 320px;
}

.section6 > div:nth-of-type(2) > div {
    background-color: #1D5159;
    width: 320px;
}


transition-duration: 0.3s;